<ion-tabs #tabs (ionTabsDidChange)="setCurrentab($event)">
<div class='animDiv' #animdiv></div>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" layout="icon-start">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label *ngIf="selectedTab == 'home'">Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search" layout="icon-start">
      <ion-icon aria-hidden="true" name="search-outline"></ion-icon>
      <ion-label *ngIf="selectedTab == 'search'">Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="orders" layout="icon-start">
      <ion-icon aria-hidden="true" name="bag-outline"></ion-icon>
      <ion-label *ngIf="selectedTab == 'orders'">Orders</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="wallet" layout="icon-start">
      <ion-icon aria-hidden="true" name="wallet-outline"></ion-icon>
      <ion-label *ngIf="selectedTab == 'wallet'">Wallet</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="menu" layout="icon-start">
      <ion-icon aria-hidden="true" name="menu-outline"></ion-icon>
      <ion-label *ngIf="selectedTab == 'menu'">Menu</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
